In [1]:
import numpy as np
import pandas as pd

In [2]:
# %load_ext google.cloud.bigquery

In [5]:
%%bigquery
SELECT * from covid19_open_data.infectionrate_vs_population where country_name='United States of America' limit 100

,date,location_key,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,aggregation_level,new_confirmed,cumulative_confirmed,population
0,2020-07-16,US_SC_45059,US,United States of America,SC,South Carolina,45059,Laurens County,2,16,836,66822.0
1,2020-04-27,US_OH,US,United States of America,OH,Ohio,None,None,1,362,16325,11613423.0
2,2020-08-20,US_AL_01117,US,United States of America,AL,Alabama,01117,Shelby County,2,26,3851,213633.0
3,2020-10-29,US_MT_30067,US,United States of America,MT,Montana,30067,Park County,2,13,260,16386.0
4,2020-09-10,US_TN_47103,US,United States of America,TN,Tennessee,47103,Lincoln County,2,24,491,33892.0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-10-05,US_MN_27145,US,United States of America,MN,Minnesota,27145,Stearns County,2,42,4362,158301.0
96,2020-07-21,US_WI_55135,US,United States of America,WI,Wisconsin,55135,Waupaca County,2,15,239,51118.0
97,2020-08-26,US_MS_28075,US,United States of America,MS,Mississippi,28075,Lauderdale County,2,16,1688,76309.0
98,2020-09-08,US_IN,US,United States of America,IN,Indiana,None,None,1,390,102917,6619680.0
99,2020-05-25,US_CA_06059,US,United States of America,CA,California,06059,Orange County,2,133,5469,3174289.0

In [3]:
from google.cloud import bigquery
client = bigquery.Client()

In [6]:
sql = """SELECT * from covid19_open_data.infectionrate_vs_population where country_code=['US','RU']"""

In [7]:
df = client.query(sql).to_dataframe()

BadRequest: 400 No matching signature for operator = for argument types: STRING, ARRAY<STRING>. Supported signature: ANY = ANY at [1:67]

(job ID: 23750c94-b02b-49ab-b3b4-0eaa41d54724)

                                -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:SELECT * from covid19_open_data.infectionrate_vs_population where country_code=['US','RU']
    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |

In [155]:
df.tail()

,date,location_key,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,aggregation_level,new_confirmed,cumulative_confirmed,population
1024915,2020-09-10,US_WY_56033,US,United States of America,WY,Wyoming,56033,Sheridan County,2,9.0,191.0,30147.0
1024916,2020-09-24,US_WY_56005,US,United States of America,WY,Wyoming,56005,Campbell County,2,9.0,279.0,46402.0
1024917,2020-10-26,US_WY_56009,US,United States of America,WY,Wyoming,56009,Converse County,2,9.0,294.0,13733.0
1024918,2020-04-04,US_WY_56013,US,United States of America,WY,Wyoming,56013,Fremont County,2,9.0,36.0,39818.0
1024919,2020-10-03,US_WY_56005,US,United States of America,WY,Wyoming,56005,Campbell County,2,9.0,366.0,46402.0

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024920 entries, 0 to 1024919
Data columns (total 12 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   date                  1024920 non-null  object
 1   location_key          1024920 non-null  object
 2   country_code          1024920 non-null  object
 3   country_name          1024920 non-null  object
 4   subregion1_code       1024608 non-null  object
 5   subregion1_name       1024608 non-null  object
 6   subregion2_code       1006200 non-null  object
 7   subregion2_name       1006200 non-null  object
 8   aggregation_level     1024920 non-null  int64
 9   new_confirmed         709543 non-null   float64
 10  cumulative_confirmed  712757 non-null   float64
 11  population            1024920 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 93.8+ MB

In [8]:
print(f"subregion1_code: /n{df['subregion1_code'].unique()} ")
print(f"subregion1_code count: {df['subregion1_code'].nunique()} ")

print(f"subregion2_code: {df['subregion2_code'].unique()} ")
print(f"subregion2_code count: {df['subregion2_code'].nunique()} ")

print(f"aggregation_level: {df['aggregation_level'].unique()} ")
print(f"aggregation_level count: {df['aggregation_level'].nunique()} ")

print(f"location_key: {df['location_key'].unique()} ")
print(f"location_key count: {df['location_key'].nunique()} ")

NameError: name 'df' is not defined

In [158]:
df.aggregation_level.value_counts()
# agr.value_counts()

2    1006200
1      17472
3        936
0        312
Name: aggregation_level, dtype: int64

In [159]:
df_pivot = df.pivot(index='date', columns=["location_key"],values='new_confirmed')

In [242]:
df_pivot[300:]

location_key,US,US_AK,US_AK_02013,US_AK_02016,US_AK_02020,US_AK_02050,US_AK_02060,US_AK_02068,US_AK_02070,US_AK_02090,...,US_WY_56027,US_WY_56029,US_WY_56031,US_WY_56033,US_WY_56035,US_WY_56037,US_WY_56039,US_WY_56041,US_WY_56043,US_WY_56045
date,,,,,,,,,,,,,,,,,,,,,
2020-10-27,75129.0,351.0,0.0,0.0,157.0,12.0,0.0,5.0,3.0,63.0,...,1.0,15.0,1.0,26.0,0.0,12.0,5.0,9.0,5.0,7.0
2020-10-28,78371.0,350.0,0.0,1.0,178.0,7.0,0.0,0.0,5.0,33.0,...,0.0,16.0,9.0,10.0,11.0,17.0,11.0,11.0,2.0,9.0
2020-10-29,88130.0,377.0,0.0,1.0,159.0,15.0,0.0,0.0,0.0,26.0,...,4.0,17.0,6.0,34.0,4.0,17.0,7.0,7.0,0.0,7.0
2020-10-30,101273.0,450.0,0.0,0.0,197.0,20.0,0.0,0.0,1.0,21.0,...,0.0,27.0,5.0,34.0,5.0,31.0,17.0,10.0,5.0,4.0
2020-10-31,78934.0,349.0,0.0,0.0,247.0,33.0,0.0,0.0,1.0,41.0,...,1.0,6.0,7.0,13.0,1.0,9.0,6.0,5.0,1.0,4.0
2020-11-01,81001.0,341.0,0.0,1.0,159.0,9.0,0.0,0.0,0.0,36.0,...,0.0,15.0,2.0,24.0,6.0,23.0,12.0,4.0,1.0,1.0
2020-11-02,83883.0,382.0,1.0,0.0,175.0,13.0,0.0,0.0,1.0,55.0,...,0.0,12.0,3.0,18.0,0.0,16.0,33.0,4.0,0.0,5.0
2020-11-03,92734.0,405.0,0.0,1.0,188.0,25.0,0.0,1.0,1.0,42.0,...,1.0,23.0,13.0,17.0,7.0,20.0,15.0,18.0,7.0,12.0
2020-11-04,102507.0,291.0,1.0,0.0,165.0,21.0,0.0,1.0,0.0,53.0,...,2.0,21.0,14.0,17.0,3.0,17.0,11.0,8.0,8.0,8.0
2020-11-05,122436.0,314.0,0.0,1.0,165.0,40.0,0.0,0.0,0.0,24.0,...,6.0,23.0,4.0,11.0,3.0,20.0,24.0,11.0,4.0,14.0
2020-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
df_pivot["US"].sum()

9608922.0

In [176]:
buck1 = df_pivot["US"][:-2].values
buck = buck1.astype(np.int64)
len(buck)

310

In [232]:
buck[300:]

array([ 75129,  78371,  88130, 101273,  78934,  81001,  83883,  92734,
       102507, 122436])

In [178]:
len(buck)

310

In [219]:
310 % 7

2

In [236]:
# sum(lt[0:4])
modu = len(buck) % 7
sum_7 = 0
sum_7 = np.add.reduceat(buck, np.arange(0, len(buck), 7))
if modu != 0:
    sum_7 = sum_7[0:-1]
sum_7

array([     0,      0,      1,      4,      6,      2,      2,     38,
           72,    900,   5402,  48804, 134387, 209191, 210707, 215525,
       187542, 191892, 165489, 158604, 152644, 150609, 148029, 157881,
       209291, 287410, 361666, 435476, 470484, 449939, 419090, 370120,
       341209, 296612, 296624, 252141, 278500, 289981, 294787, 310551,
       355102, 416590, 506349, 604326])

In [238]:
lst_sum = sum_7.tolist()

In [239]:
new = []
for i in sum_7:
    ele = i / 7
    new.append(round(ele,2))
    
type(new)

list

In [240]:
print(new)

[0.0, 0.0, 0.14, 0.57, 0.86, 0.29, 0.29, 5.43, 10.29, 128.57, 771.71, 6972.0, 19198.14, 29884.43, 30101.0, 30789.29, 26791.71, 27413.14, 23641.29, 22657.71, 21806.29, 21515.57, 21147.0, 22554.43, 29898.71, 41058.57, 51666.57, 62210.86, 67212.0, 64277.0, 59870.0, 52874.29, 48744.14, 42373.14, 42374.86, 36020.14, 39785.71, 41425.86, 42112.43, 44364.43, 50728.86, 59512.86, 72335.57, 86332.29]

In [241]:
np.mean(new)

30467.46454545455

In [ ]:
array([     0,      0,      1,      4,      6,      2,      2,     38,
           72,    900,   5402,  48804, 134387, 209191, 210707, 215525,
       187542, 191892, 165489, 158604, 152644, 150609, 148029, 157881,
       209291, 287410, 361666, 435476, 470484, 449939, 419090, 370120,
       341209, 296612, 296624, 252141, 278500, 289981, 294787, 310551,
       355102, 416590, 506349, 604326, 224943])

In [229]:
kp = np.ndarray([15, 35, 35, 21, 7, 1, 0, 66, 112, 64, 21, 3, 0, 0])
print(kp.arange(0,len(kp),2))

MemoryError: Unable to allocate 0 bytes for an array with shape (15, 35, 35, 21, 7, 1, 0, 66, 112, 64, 21, 3, 0, 0) and data type float64

In [243]:
92734.0 + 83883.0 + 81001.0 + 78934.0 + 101273.0 + 88130.0 + 78371.0

604326.0